<div class="card">
    <div class="card-header">
      <i class="fa fa-align-justify"></i>Change Password
      <div class="row">
        <div class="col-sm-3">
            <div class="input-group">
            </div>
        </div>
        </div>
    </div>
                 {{#if messages.msg_info}}
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h5><i class="icon fas fa-check"></i> Success!</h5>
        {{messages.msg_info}}
    </div>
    {{/if}}
    {{#if messages.msg_error}}
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h5><i class="icon fas fa-ban"></i> Alert!</h5>
        {{messages.msg_error}}
    </div>
    {{/if}}

    <div class="card-body">
         <form action="/admin/change-password-admin" method="post"  enctype="application/json">
        <div class="row">
            <div class="col-sm-12 form-group">
                <div class="row">
                    <div class="col-md-4">
                    <label for="old_password">Password Lama</label>
                    </div>
                    <div class="col-md-8">
                    <input class="form-control" id="old_password" name="old_password" type="password" value="" >
                    </div>
                </div>
                </br>
                <div class="row">
                    <div class="col-md-4">
                    <label for="new_password">Password Baru</label>
                    </div>
                    <div class="col-md-8">
                    <input class="form-control" id="new_password" name="new_password" type="password" value="" >
                    </div>
                </div>
                 <div class="row">
                    <div class="col-md-4">
                    <label for="new_password">Konfirmasi Password</label>
                    </div>
                    <div class="col-md-8">
                    <input class="form-control" id="confirm_password" name="confirm_password" type="password" value="" >
                    </div>
                </div>
                
            </div>

            <div class="">
            <button class="btn btn-sm btn-primary" id="save" type="submit">
            <i class="fa fa-dot-circle-o"></i> Simpan</button>
            <button type="button" class="btn  btn-sm btn-primary" id="loadingbutton" disabled> <i class="fa fa-dot-circle-o"></i>  <span class="spinner-border spinner-border-sm"></span>Loading</button>
      </div>
      </form>
    </div>
</div>
<script type="text/javascript">

$('#loadingbutton').hide();
$('#save').click(function(){
    $('#loadingbutton').show();
    $('#save').hide();

});


</script>

